.playerstyled {
    border: 0;
    line-height: 2;
    padding: 0 5px;
    font-size: 1rem;
    text-align: styledcenter;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color:blue;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    }

  .container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    min-height: 400px;
    border-radius: 5%;
    margin: auto;
  }
  table {
    border-collapse: collapse;
    margin: auto;
  }
  td {
    background-color: rgb(37, 58, 253);
    border: 5px solid black;
    font-size: 80px;
    color: #fff;
    border-radius: 10%;
  }
  #player {
    padding: 1rem;
  }
  body {
    display: flex;
    background: black url('https://media.gettyimages.com/vectors/tic-tac-toe-blue-triangle-node-vector-pattern-vector-id1015016596?s=2048x2048') no-repeat
    center center/cover;
    overflow: visible;
  }